<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!-- to flip RGB for image encoding. Only needed if using qoocamera_ros driver -->
  <arg name="flipRGB" default="false" />
  <!-- Console launch prefix -->
  <arg name="launch_prefix" default=""/>
  <arg name="image" default="/camera/color/image_rect_color" />

  <!-- Config and weights folder. -->
  <arg name="yolo_weights_path"          default="$(find darknet_ros)/yolo_network_config/weights"/>
  <arg name="yolo_config_path"           default="$(find darknet_ros)/yolo_network_config/cfg"/>

  <!-- ROS and network parameter files -->
  <arg name="ros_param_file"             default="$(find darknet_ros)/config/ros.yaml"/>
  <arg name="network_param_file"         default="$(find darknet_ros)/config/yolov3-person.yaml"/>

  <!-- Darknet and ros wrapper nodelet manager -->
  <node name="darknet_ros_nodelet_manager" type="nodelet" pkg="nodelet" args="manager" output="screen" respawn="true">
    <param name="num_worker_threads" value="4" />
  </node>

  <!-- Start darknet and ros wrapper -->
  <node pkg="nodelet" type="nodelet" name="yolo_nodelet" output="screen" launch-prefix="$(arg launch_prefix)" args="load darknet_ros_nodelet darknet_ros_nodelet_manager" respawn="true" >
    <rosparam command="load" file="$(arg ros_param_file)"/>
    <rosparam command="load" file="$(arg network_param_file)"/>
    <param name="weights_path"          value="$(arg yolo_weights_path)" />
    <param name="config_path"           value="$(arg yolo_config_path)" />
    <param name="namespace" value="/yolo_nodelet" />
    <param name="flipRGB" value="$(arg flipRGB)" />
    
    <remap from="camera/rgb/image_raw" to="$(arg image)" />
    <remap from="darknet_ros/bounding_boxes" to="/yolo_nodelet/bounding_boxes" />
    <remap from="darknet_ros/check_for_objects" to="/yolo_nodelet/check_for_objects" />
    <remap from="darknet_ros/detection_image" to="/yolo_nodelet/detection_image" />
  </node>

</launch>
