<?xml version="1.0" encoding="utf-8"?>

<launch>
  <!-- to flip RGB for image encoding. Only needed if using qoocamera_ros driver -->
  <arg name="flipRGB" default="true" />
  <!-- Input image topics for YOLO nodelets -->
  <!-- <arg name="image0" default="camera1/color/image_raw" /> -->
  <!-- <arg name="image1" default="camera2/color/image_raw" /> -->
  <!-- <arg name="image2" default="qoocamera/image_2" /> -->
  <arg name="image0" default="qoocamera_0/image_raw" />
  <arg name="image1" default="qoocamera_1/image_raw" />
  <arg name="image2" default="qoocamera_2/image_raw" />
  <arg name="image3" default="qoocamera_3/image_raw" />
  <arg name="image4" default="qoocamera_4/image_raw" />
  <arg name="image5" default="qoocamera_5/image_raw" />
  <arg name="image6" default="qoocamera_6/image_raw" />


  <!-- Config and weights folder. -->
  <arg name="yolo_weights_path"          default="$(find darknet_ros)/yolo_network_config/weights"/>
  <arg name="yolo_config_path"           default="$(find darknet_ros)/yolo_network_config/cfg"/>

  <!-- ROS and network parameter files -->
  <arg name="ros_param_file"             default="$(find darknet_ros)/config/ros.yaml"/>
  <arg name="network_param_file"         default="$(find darknet_ros)/config/yolov3-person.yaml"/>

  <!-- Load parameters -->
  <rosparam command="load" ns="darknet_ros" file="$(arg ros_param_file)"/>
  <rosparam command="load" ns="darknet_ros" file="$(arg network_param_file)"/>

  <!-- Darknet and ros wrapper nodelet manager -->
  <node name="darknet_ros_nodelet_manager" type="nodelet" pkg="nodelet" args="manager" respawn="true"/>

  <node pkg="nodelet" type="nodelet" name="yolo_nodelet_0" args="load darknet_ros_nodelet darknet_ros_nodelet_manager" respawn="true" >
      <param name="weights_path"          value="$(arg yolo_weights_path)" />
      <param name="config_path"           value="$(arg yolo_config_path)" />
      <rosparam command="load" file="$(arg ros_param_file)" />
      <rosparam command="load" file="$(arg network_param_file)" />
      
      <remap from="/camera/rgb/image_raw" to="$(arg image0)" />
      <remap from="darknet_ros/bounding_boxes" to="/yolo_nodelet_0/bounding_boxes" />
      <remap from="darknet_ros/check_for_objects" to="/yolo_nodelet_0/check_for_objects" />
      <remap from="darknet_ros/detection_image" to="/yolo_nodelet_0/detection_image" />
      <param name="namespace" value="/yolo_nodelet_0" />
      <param name="flipRGB" value="$(arg flipRGB)" />
  </node>
  
  <node pkg="nodelet" type="nodelet" name="yolo_nodelet_1" args="load darknet_ros_nodelet darknet_ros_nodelet_manager" respawn="true" >
      <param name="weights_path"          value="$(arg yolo_weights_path)" />
      <param name="config_path"           value="$(arg yolo_config_path)" />
      <rosparam command="load" file="$(arg ros_param_file)" />
      <rosparam command="load" file="$(arg network_param_file)" />

      <remap from="/camera/rgb/image_raw" to="$(arg image1)" />
      <remap from="darknet_ros/bounding_boxes" to="/yolo_nodelet_1/bounding_boxes" />
      <remap from="darknet_ros/check_for_objects" to="/yolo_nodelet_1/check_for_objects" />
      <remap from="darknet_ros/detection_image" to="/yolo_nodelet_1/detection_image" />
      <param name="namespace" value="/yolo_nodelet_1" />
      <param name="flipRGB" value="$(arg flipRGB)" />
  </node>

  <node pkg="nodelet" type="nodelet" name="yolo_nodelet_2" output="screen" args="load darknet_ros_nodelet darknet_ros_nodelet_manager" respawn="true" >
      <param name="weights_path"          value="$(arg yolo_weights_path)" />
      <param name="config_path"           value="$(arg yolo_config_path)" />
      <rosparam command="load" file="$(arg ros_param_file)" />
      <rosparam command="load" file="$(arg network_param_file)" />
      <remap from="camera/rgb/image_raw" to="$(arg image2)" />
      <remap from="darknet_ros/bounding_boxes" to="/yolo_nodelet_2/bounding_boxes" />
      <remap from="darknet_ros/check_for_objects" to="/yolo_nodelet_2/check_for_objects" />
      <remap from="darknet_ros/detection_image" to="/yolo_nodelet_2/detection_image" />
      <param name="namespace" value="/yolo_nodelet_2" />
      <param name="flipRGB" value="$(arg flipRGB)" />
  </node>

  <node pkg="nodelet" type="nodelet" name="yolo_nodelet_3" output="screen" args="load darknet_ros_nodelet darknet_ros_nodelet_manager" respawn="true" >
      <param name="weights_path"          value="$(arg yolo_weights_path)" />
      <param name="config_path"           value="$(arg yolo_config_path)" />
      <rosparam command="load" file="$(arg ros_param_file)" />
      <rosparam command="load" file="$(arg network_param_file)" />
      <remap from="camera/rgb/image_raw" to="$(arg image3)" />
      <remap from="darknet_ros/bounding_boxes" to="/yolo_nodelet_3/bounding_boxes" />
      <remap from="darknet_ros/check_for_objects" to="/yolo_nodelet_3/check_for_objects" />
      <remap from="darknet_ros/detection_image" to="/yolo_nodelet_3/detection_image" />
      <param name="namespace" value="/yolo_nodelet_3" />
      <param name="flipRGB" value="$(arg flipRGB)" />
  </node>

  <node pkg="nodelet" type="nodelet" name="yolo_nodelet_4" output="screen" args="load darknet_ros_nodelet darknet_ros_nodelet_manager" respawn="true" >
      <param name="weights_path"          value="$(arg yolo_weights_path)" />
      <param name="config_path"           value="$(arg yolo_config_path)" />
      <rosparam command="load" file="$(arg ros_param_file)" />
      <rosparam command="load" file="$(arg network_param_file)" />
      <remap from="camera/rgb/image_raw" to="$(arg image4)" />
      <remap from="darknet_ros/bounding_boxes" to="/yolo_nodelet_4/bounding_boxes" />
      <remap from="darknet_ros/check_for_objects" to="/yolo_nodelet_4/check_for_objects" />
      <remap from="darknet_ros/detection_image" to="/yolo_nodelet_4/detection_image" />
      <param name="namespace" value="/yolo_nodelet_4" />
      <param name="flipRGB" value="$(arg flipRGB)" />
  </node>

</launch>
